@model MPQ.Models.IndicadorViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@inject MPQ.Utils.Shared.LocSharedService SharedLocalizer;

@{ Layout = null;
                ViewData["Title"] = Localizer["Titulo"]; }

<link rel="stylesheet" href="~/css/indicador.css" />

<div class="modal-header">
    <h4 class="modal-title">@ViewData["Title"]</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">x</span><span class="sr-only">Fechar</span>
    </button>
</div>

<form name="Cadastro">
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" name="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

    </div>

</form>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("Fechar")</button>
    <button type="button" id="botaoModalOk" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("Salvar")</button>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<script>$(document).ready(function () {

        $('#botaoModalOk').on('click', function () {
            $.ajax({
                type: 'POST',
                url: '/Indicador/Create',
                dataType: 'json',
                data: $('form[name=Cadastro]').serialize(),
                success: function (data) {

                    if (!data.Sucesso) {

                        Swal.fire({
                            icon: 'error',
                            title: 'Erro',
                            html: data.Mensagem
                        });
                        return false;
                    }

                    Swal.fire({
                        icon: 'success',
                        title: 'Sucesso',
                        text: data.Mensagem,
                        timer: 2000,
                        timerProgressBar: true,
                        onBeforeOpen: () => {
                            Swal.showLoading()
                            timerInterval = setInterval(() => {
                                const content = Swal.getContent()
                                if (content) {
                                    const b = content.querySelector('b')
                                    if (b) {
                                        b.textContent = Swal.getTimerLeft()
                                    }
                                }
                            }, 100)
                        },
                        onClose: () => {
                            clearInterval(timerInterval)
                        }
                    }).then((result) => {

                        $('#myModal').modal('hide');
                        ListarTodos();
                    });
                }
            })

        });

});
</script>