/* ======= jQuery UI AutoComplete ======= */

.ui-autocomplete {
    top: 5px;
    background: #FFF;
    max-width: 800px;
    max-height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    border: none !important;
    font-size: 11px;
    padding: 2px;
    z-index: 9999;
}

    .ui-autocomplete .ui-menu-item {
        padding: 0 !important;
        margin: 0 !important;
        border: none;
    }

    .ui-autocomplete .ui-menu-item-wrapper {
        display: block;
        padding: 6px 12px;
    }

    .ui-autocomplete .ui-state-active {
        background: #2c77ba !important;
        border: 1px solid #2c77ba !important;
    }

.ui-autocomplete-preloader-group {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 7px;
    right: 85px;
    background: url(/images/ui-anim_basic_16x16.GIF) right center no-repeat;
    display: none;
    z-index: 100;
}

.ui-autocomplete-preloader-normal {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 10px;
    margin: 9px 0;
    background: url(/images/ui-anim_basic_16x16.GIF) right center no-repeat;
    display: none;
    z-index: 100;
}