@model MPQ.Models.CustomerViewViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@inject MPQ.Utils.Shared.LocSharedService SharedLocalizer;

@{ ViewData["Title"] = Localizer["Titulo"]; }

<div class="modal-header">
    <h4 class="modal-title">@ViewData["Title"]</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">x</span><span class="sr-only">Fechar</span>
    </button>
</div>

<form name="Cadastro">
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="SiteId" class="control-label"></label>
            <select asp-for="SiteId" asp-items="ViewBag.Site" class="selectpicker show-tick" data-style="custom-select" data-live-search="true" data-selected-text-format="count" data-width="100%" data-size="4"></select>
            <span asp-validation-for="SiteId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="BusinessUnitId" class="control-label"></label>
            <select asp-for="BusinessUnitId" asp-items="ViewBag.BusinessUnit" class="selectpicker show-tick" data-style="custom-select" data-live-search="true" data-selected-text-format="count" data-width="100%" data-size="4"></select>
            <span asp-validation-for="BusinessUnitId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IndicatorId" class="control-label"></label>
            <select asp-for="IndicatorId" asp-items="ViewBag.Indicator" class="selectpicker show-tick" data-style="custom-select" data-live-search="true" data-selected-text-format="count" data-width="100%" data-size="4"></select>
            <span asp-validation-for="IndicatorId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CustomerId" class="control-label"></label>
            <select asp-for="CustomerId" asp-items="ViewBag.Customer" class="selectpicker show-tick" data-style="custom-select" data-live-search="true" data-selected-text-format="count" data-width="100%" data-size="4"></select>
            <span asp-validation-for="CustomerId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Year" class="control-label"></label>
            <input asp-for="Year" class="form-control" name="Year" />
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="WeekNumber" class="control-label"></label>
            <input asp-for="WeekNumber" class="form-control" name="WeekNumber" />
            <span asp-validation-for="WeekNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Result" class="control-label"></label>
            <input asp-for="Result" class="form-control" name="Result" />
            <span asp-validation-for="Result" class="text-danger"></span>
        </div>

        <input type="hidden" name="Id" value="@Model.Id" />
    </div>

</form>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("Fechar")</button>
    <button type="button" id="botaoModalOk" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("Salvar")</button>
</div>

<script>

    $(document).ready(function () {

        $('select').selectpicker();

        let timerInterval;

        $('#botaoModalOk').on('click', function () {
            $.ajax({
                type: 'POST', url: '/CustomerView/Update', dataType: 'json', data: $('form[name=Cadastro]').serialize(), success: function (data) {

                    if (!data.Sucesso) {
                        Swal.fire({ icon: 'error', title: 'Erro', html: data.Mensagem });
                        return false;
                    }

                    Swal
                        .fire({
                            icon: 'success', title: 'Sucesso', text: data.Mensagem, timer: 2000, timerProgressBar: true,
                            onBeforeOpen: () => { Swal.showLoading(); timerInterval = setInterval(() => { const content = Swal.getContent(); if (content) { const b = content.querySelector('b'); if (b) { b.textContent = Swal.getTimerLeft(); } } }, 100); },
                            onClose: () => { clearInterval(timerInterval) }
                        })
                        .then((result) => { $('#myModal').modal('hide'); ListarTodos(); });
                }
            })

        });

        $("#IdEmpresaPadrao").on('change', function () { BuscarPlantasPorEmpresaSelecionada(); })
    });
</script>